#header {
      background: #39E8DE;
      color: #800080;
      font-family: Droid Sans;
      font-size: 30px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      width:100%;
      box-sizing:border-box;
      }
body {
      background-color: #58C3BB;
}
.logo {
      border: 1px;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
      float: left;

      }

#header ul{
   list-style-type: none;
   text-align: center;
}

#header li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

#header li a {
   padding: 2px 7px 2px 7px;
   color: #000;
   background-color:#39E8DE;
   
   text-decoration: none;
}

#header li a:hover{
   background-color: #800080;
   color: #ffffff;
}
#recetas {
      text-align: center;
      font-family: Droid Sans;
      font-size: 20px;
}
#recetas .titulo{
      color: #800080; 
      font-weight:bold;

}
#recetas p{
      color:#027379;
      font-weight:bold;
}

#recetas img {
      width:300px;
      height:225px; 
      border: 3px solid #800080;
}

#videos {
      text-align: center;
      font-family: Droid Sans;
      font-size: 20px;
}

#formulario {
      text-align: center;
      font-family: Droid Sans;
      font-size: 20px;
}

#about {
      text-align: center;
      font-family: Droid Sans;
      font-size: 20px;
}

